.user-form {
    flex-grow: 1;
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .user-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  